body {
    background: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 30px;
}

aside {
    position: fixed;
    display: block;
    bottom:0;
    left: 0; 
    right: 0;    
    top: 0;   
    width: 200px;   
    margin: 10px 30px auto;
}

aside h1 {
    margin-bottom: 25px;
}

aside h2 {
    margin-top: 25px;
}
#name {
    color: black;
    font-size: 1.25em;  
    font-weight: normal;
    text-decoration: none; 
    transition: all 0.25s ease;    
}

#name:hover {
    color: rebeccapurple; 
    font-weight: bold;
}
aside p {
    font-size: .75em;
}
aside b {
    color: rebeccapurple;
    font-weight: bold; 
    font-size: 1.20em;
}

aside a {
    font-size: .7em;
}

h1 span {
    font-size: 0.7em; 
    font-weight: normal;
}

main, footer {
    margin: 10px 10px 10px 250px;
}

section {    
    text-align: left;
}

footer {
    text-align: center;
}