body {
    background: white;
    /* font is too light, can't see difference when bolded */
    font-family: 'Roboto Condensed', sans-serif;
    margin: 30px;
}

/* aside CSS */
aside {
    position: fixed;
    display: block;
    bottom:0;
    left: 0; 
    right: 0;    
    top: 0;   
    width: 200px;   
    margin: 10px 30px auto;
}

aside header {
    width: 150px;
}

aside header img {
    border-radius: 100px;
    border: 1px solid black;
    transition: all 0.5s ease;
}

aside h1 {
    margin-bottom: 25px;
}

aside h2 {
    margin-top: 25px;
}
#name {
    color: black;
    font-size: 1.25em;  
    font-weight: bold;
    text-decoration: none; 
    transition: all 0.25s ease;    
}

#name:hover {
    color: rebeccapurple; 
    font-weight: bolder;
}
aside p {
    font-size: .75em;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    
}
aside b {
    color: rebeccapurple;
    font-family: 'Roboto Condensed', sans-serif;    
    font-weight: bold; 
    font-size: 1.20em;
}

aside a {
    font-size: .85em;
    line-height: 30px;
    text-decoration: none; color: black;
    transition: all 0.25s ease;        
}

aside a:hover {
    color: rebeccapurple; 
    font-weight: bolder;
}

h1 span {
    font-size: 0.7em; 
    font-weight: normal;
}

#aside-ftr {
    font-weight:bold;
    font-size: .7em;
}

/* main css */
main, footer {
    margin: 10px 100px 10px 250px;
}

section {    
    text-align: left;
}

img {
    width: 99.5%;
}

section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
}

section p {
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}

li {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

table {
    visibility: hidden;
    /* position: absolute; */
}

/* footer CSS */
footer {
    text-align: center;
}